[Desktop Entry]
Type=Application
Name=ABRAXAS
Comment=NEOS Control Center
Exec=abx
Icon=utilities-terminal
Terminal=false
Categories=Development;System;Utility;
StartupNotify=false
